@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
	margin: 0;
	padding: 0;
}
/* #C59D70 */
body {
	background-color: #B3936D;
}

p, a {
	font-family: 'Roboto', sans-serif;
}

/* header, nav */

header {
	width: 100%;
	text-align: center;
	margin-bottom: 0px;
	/*background: linear-gradient(180deg, #A07050, #B3936D);*/
	padding-bottom: 40px;
}

header img {
	width: 20%;
	margin: 1rem 0;
}

nav {
	margin: 0 25% 0 25%;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#menu {
	display: none;
}

nav a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

/* main, sections restaurant, rooms, getting there */

/* restaurant section */

#sectionRestaurant {
	width: 100%;
	height: 451px;
}

#sectionRestaurant img {
	width: 47%;
	float: left;
	position: absolute;
	z-index: -1;
}

#sectionRestaurant div {
	width: 35%;
	float: right;
	margin-top: 5%;
	margin-left: 6%;
	margin-right: 12%;
	z-index: 2;
}

#sectionRestaurant div h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

#sectionRestaurant div p {
	font-size: 18px;
	margin-bottom: 40px;
}

#sectionRestaurant div a {
	padding: 10px 20px;
	background-color: green;
	color: white;
	text-decoration: none;
	margin-right: 10px;
}

/* section rooms and apartmans */

#sectionRooms {
	width: 100%;
	margin-top: 50px;
	height: 500px;
}

#sectionRooms img {
	width: 50%;
	float: right;
}

#sectionRooms div {
	width: 35%;
	margin-top: 5%;
	margin-left: 10%;
	padding-top: 100px;
}

#sectionRooms div h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

#sectionRooms div p {
	font-size: 18px;
	margin-bottom: 40px;
}

#sectionRooms div a {
	padding: 10px 20px;
	background-color: green;
	color: white;
	text-decoration: none;
	margin-right: 10px;
}

/* map */

#sectionAdress {
	width: 80%;
	margin: 0 10%;
	background-color: rgba(255, 255, 255, 0.1);
}

#sectionAdress iframe {
	display: inline-block;
	width: 47%;
	height: 400px;
	/*margin-left: 10%;*/
}

#sectionAdress div {
	height: 320px;
	width: 49%;
	padding-top: 80px;
	/*margin-right: 10%;*/
	float: right;
}

#sectionAdress div h2 {
	font-size: 40px;
	margin-bottom: 20px;
}

#sectionAdress div p {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 1.25;
}

/* footer */

footer {
	margin-top: 50px;
	padding: 20px 0;
	width: 100%;
	height: 200px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

footer a {
	color: white;
	text-decoration: none;
}

/* Unterseite rooms.html */

#banner {
	width: 100%;
	height: 300px;
	background-image: url("images/restaurant.jpeg");
	background-size: cover;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 40px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	margin-top: 0px;
}

.roomArticle {
	width: calc(80% - 100px);
	margin: 50px 10% 0px 10%;
	background-color: rgba(244,244,244,0.2);
	padding: 50px;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.roomArticle h2 {
	margin-bottom: 20px;
	font-size: 30px;
	display: inline-block;
}

.roomDetails {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
	grid-template-rows: repeat(auto-fit);
	grid-gap: 10px;
	font-family: 'Roboto', sans-serif;
}

.imageContainer {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	margin-top: 20px;
}

.roomImage {
	width: 200px;
	margin: 10px;
}

.firstRoomImage {
	margin-left: 0px;
}

.lastRoomImage {
	margin-right: 0px;
}

.roomsPreis {
	padding: 10px 20px;
	background-color: green;
	color: white;
	float: right;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.roomsPreisPN {
	font-size: 16px;
}

@media only screen and (max-width: 1200px) {
	
	#sectionRestaurant img {
		width: 70%;
		animation-name: restanimg;
		animation-duration: 2s;
	}
	
	@keyframes restanimg {
		from {
			display: relative;
			opacity: 0.0;
			left: -500px;
		}
		
		to {
			display: block;
			opacity: 1.0;
			left: 0px; 
		}
	}
	
	#sectionRestaurant div {
		width: 70%;
		padding: 30px;
		margin-right: 10%;
		background-color: rgba(255,255,255,0.8);
		position: relative;
		top: 280px;
		box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
		animation-name: restani;
		animation-duration: 2s;
	}
	
	@keyframes restani {
		from {
			opacity: 0.0;
			left: 500px;
		}
		
		to {
			opacity: 1.0;
			left: 0px; 
		}
	}
	
	#sectionRestaurant div h2 {
		font-size: 30px;
	}
	
	#sectionRestaurant div p {
		font-size: 16px;
	}
	
	#sectionRooms img {
		z-index: 3;
		position: relative;
		top: 150px;
		animation-name: restani;
		animation-duration: 3s;
	}
	
	#sectionRooms div {
		z-index: 4;
		margin-left: 2%;
		width: 45%;
		padding: 30px;
		background-color: rgba(255,255,255,0.8);
		position: relative;
		top: 200px;
		box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
		animation-name: restanimg;
		animation-duration: 3s;
	}
	
	#sectionRooms div h2 {
		font-size: 30px;
	}
	
	#sectionRooms div p {
		font-size: 16px;
	}
	
	#sectionAdress {
		margin-top: 70px;
	}
	
	#sectionAdress div h2 {
		font-size: 30px;
	}
	
	#sectionAdress div p {
		font-size: 16px;
		
	}
}

@media only screen and (max-width: 950px) {
	
	header img {
		width: 35%;
	}
	
	nav {
		margin: 0 15% 0 15%;
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	/* main */

	#sectionRestaurant, #sectionRooms, #sectionAdress {
		width: 80%;
		margin: 20px 10% 40px 10%;
		padding: 0px;
		background-color: rgba(248,240,240,0.50);
		position: static;
		height: auto;
	}

	#sectionRestaurant img, #sectionRooms img, #sectionAdress iframe {
		width: 100%;
		margin: 0px;
		padding: 0px;
		float: none;
		position: static;
	}

	#sectionRestaurant div, #sectionRooms div, #sectionAdress div {
		width: 90%;
		margin: 0px;
		padding: 5% 5% 7% 5%;
		float: none;
		position: static;
		box-shadow: none;
		background-color: rgba(255,255,255,0.00);
	}
	
	/*
	#sectionRestaurant {
		height: 800px;
	}
	
	#sectionRooms {
		height: 700px;
	}
	
	#sectionAdress {
		height: 700px;
	}
	
	#sectionRestaurant, #sectionRooms, #sectionAdress {
		width: 80%;
		margin: 0 10% 0 10%;
		display: block;
		padding: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 70% 30%;
		justify-content: start;
		z-index: 1;
	}
	
	#sectionRestaurant img, #sectionRooms img, #sectionAdress iframe {
		position: static;
		margin: 0;
		padding: 0;
		width: 100%;
		float: none;
		grid-column: 1/2;
		grid-row: 1/2;
		z-index: 1;
	}
	
	#sectionRestaurant div, #sectionRooms div, #sectionAdress div {
		width: 90%;
		position: static;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		box-shadow: 0 0 0;
		padding-left: 5%;
		padding-right: 5%;
		float: none;
		grid-column: 1/2;
		grid-row: 2/3;
		margin: 0 0 0 0;
		z-index: 1;
	}
	
	#sectionRestaurant div p, #sectionRestaurant div a {
		margin: 0;
		padding: 0;
		position: static;
	}
	*/
	
	#sectionAdress div {
		height: 220px;
	}
	
}

@media only screen and (max-width: 600px) {
	header img {
		width: 50%;
		margin: 1rem 0;
	}
	
	nav {
		margin: 0 25% 0 25%;
		width: 50%;
		height: 120px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

















